table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td,
th {
  border: 1px solid #ddd;
  text-align: left;
  padding: 8px;
}

.App {
  width: 70%;
  margin: auto;
  padding: 3em;
}

.addbook {
  margin-top: 2em;
}
